<!DOCTYPE html>
<html>

<head>
    <title>Thermostat</title>
</head>

<body>
    <div id="app">
        <h2 style="color:red" v-show="error.length > 0">!!! {{ error }} !!!</h2>
        <h2>{{ lastEvent.ambientTemperature }}&#176; {{ unitPreference }}</h2>
        <h3 style="text-transform: uppercase;">{{ lastEvent.direction}}</h3>
        
        <div>Modes:</div>
        <ul>
            <li v-for="mode in modeNames">{{ mode }}: {{ modes[mode].low }}&#176; - {{ modes[mode].high }}&#176;</li>
        </ul>
        <div>Default Mode: {{ defaultMode }}
        
        <div>Schedule</div>
        <ul>
            <li v-for="spec in schedule">Mode: {{ spec.mode }} from {{ spec.start }} to {{ spec.end }} on Days: {{ spec.days }}</li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: function () {
                var viewData = {error: ""};

                reqwest({
                    url: "/thermostat",
                    method: "GET",
                    headers: {
                        "Accept": "application/json"
                    },
                    success: function (data) {
                        console.log("SUCCESS:", data);

                        viewData = data;
                        viewData.error = "";
                    },
                    error: function (errMsg) {
                        console.log("ERROR:", errMsg);

                        viewData.error = errMsg;
                    }
                });

                return viewData;
            },
            computed: {
                lastEvent: function () {
                    if (this["events"]) {
                        return this.events[this.events.length - 1];
                    }

                    return {ambientTemperature: "UNKNOWN", direction: "UNKNOWN"};
                },
                modeNames: function () {
                    return Object.keys(this.modes);
                },
                dayNames: function () {
                    return ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                }
            }
        })
    </script>
</body>

</html>